@charset "utf-8";

.main_grid_imgBox {
	width: 100%;
	height: auto;
	margin-top: 50px;
	overflow: hidden;

}

.main_grid_imgBox .item {
	width: 20%;
	height: 320px;
	float: left;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	cursor: pointer;

}

.main_grid_imgBox .item:before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	border: 10px solid rgb(255, 204, 0, 0.8);
	background-color: rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 6;
	transform: scale(0);
	transition: 0.5s;
}

.main_grid_imgBox .item.item18:before {
	content: "";
	display: none;
}

.main_grid_imgBox .item:hover::before {
	transform: scale(1);
}

.main_grid_imgBox .item:hover .img_box {
	transform: scale(1.05);
}

.main_grid_imgBox .img_box {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	overflow: hidden;
	transition: 0.3s;
}

.main_grid_imgBox .tit_box {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 6;
	overflow: hidden;
	color: #fff;
	opacity: 0;
	transition: 0.3s;
}

.main_grid_imgBox .tit_box .tit {
	position: absolute;
	bottom: 15%;
	left: -125%;
	color: #fff;
	border-bottom: 1px solid #fff;
	transition: 0.5s;
}

.main_grid_imgBox .more {
	display: block;
	position: absolute;
	bottom: 7%;
	right: 6%;
	color: #fff;
	text-align: center;
	opacity: 0;
	transition: 0.5s;
	font-weight: normal;
}

.main_grid_imgBox .item img {
	display: block;
	width: 100%;
	height: 100%;
}

.main_grid_imgBox .item:hover .more {
	opacity: 1;
}

.main_grid_imgBox .more:hover {
	color: #fc0;
}

.main_grid_imgBox .item:hover .tit_box {
	opacity: 1;
}

.main_grid_imgBox .item:hover .tit {
	left: 20%;
}

.main_grid_imgBox .item18 {
	overflow: visible;
	/*	grid-area: item18;*/
	font-size: 2em;
	width: 60%;
	text-align: center;
	box-sizing: border-box;
	padding-top: 10%;
	font-family: 'Righteous', cursive;
}

@media all and (max-width:767px) {

	.main_grid_imgBox {
		width: 90%;
		margin: 40px auto;
		height: auto;
		overflow: hidden;

	}

	.main_grid_imgBox .item {
		width: 48%;
		height: 185px;
		margin-right: 2%;
		margin-bottom: 2%;
	}

	.main_grid_imgBox .item:before {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		border: 5px solid rgb(255, 204, 0, 0.8);
		background-color: rgba(0, 0, 0, 0.3);
		box-sizing: border-box;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 6;
		transform: scale(0);
		transition: 0.5s;
	}

	.main_grid_imgBox .item.item18:before {
		content: "";
		display: none;
	}

	.main_grid_imgBox .item:active::before {
		transform: scale(1);
	}

	.main_grid_imgBox .item:active .img_box {
		transform: scale(1.05);
	}

	.main_grid_imgBox .img_box {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 5;
		overflow: hidden;
		transition: 0.3s;
	}

	.main_grid_imgBox .tit_box {
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 6;
		overflow: hidden;
		color: #fff;
		opacity: 1;
		transition: 0.3s;
	}

	.main_grid_imgBox .tit_box .tit {
		position: absolute;
		bottom: 5%;
		left: 6%;
		color: #ccc;
		border-bottom: 0;
		transition: 0.5s;
		font-size: 0.8em;
	}

	.main_grid_imgBox .more {
		font-size: 0.7em;
		opacity: 0;
		display: block;
	}

	.main_grid_imgBox .item:active .more {
		opacity: 0;
	}

	.main_grid_imgBox .more:active {
		color: #fc0;
	}

	.main_grid_imgBox .item:active .tit_box {
		opacity: 0;
	}

	.main_grid_imgBox .item:active .tit {
		left: 20%;
	}

	.main_grid_imgBox .item18 {
		overflow: visible;
		font-size: 0.8em;
		width: 48%;
		text-align: center;
		padding-top: 30%;
	}


}

@media all and (min-width:768px) and (max-width:959px) {



	.main_grid_imgBox {
		width:90%;
		margin: 0 auto;
		height: auto;
		margin-top:40px;
	}

	.main_grid_imgBox .item {
		width: 33.333%;
		height: 260px;
	}

	.main_grid_imgBox .item:before {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		border: 10px solid rgb(255, 204, 0, 0.8);
		background-color: rgba(0, 0, 0, 0.3);
		box-sizing: border-box;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 6;
		transform: scale(0);
		transition: 0.5s;
	}



	.main_grid_imgBox .item:active::before {
		transform: scale(1);
	}

	.main_grid_imgBox .item:active .img_box {
		transform: scale(1.05);
	}

	.main_grid_imgBox .img_box {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 5;
		overflow: hidden;
		transition: 0.3s;
	}


	.main_grid_imgBox .tit_box .tit {
		font-size: 0.9em;
	}

	.main_grid_imgBox .more {

		font-size: 0.8em;
	}

	.main_grid_imgBox .item img {
		display: block;
		width: 100%;
		height: 100%;
	}

	.main_grid_imgBox .item:active .more {
		opacity: 1;
	}

	.main_grid_imgBox .more:active {
		color: #fc0;
	}

	.main_grid_imgBox .item:active .tit_box {
		opacity: 1;
	}

	.main_grid_imgBox .item:active .tit {
		left: 15%;
	}

	.main_grid_imgBox .item18 {
		font-size: 1.2em;
		width: 33.333%;
		padding-top: 15%;
	}

}
