@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
	padding: 0;
	margin: 0;
}

body,
html {
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

button,
input,
select {
	outline: 0;
	border: 0;
}

.page {
	clear: both;
}

.hd {
	width: 100%;
	height: 80px;
	background-color: rgba(0, 0, 0, 0.6);
	position: relative;
	z-index: 50;
}
.toggle{
	width: 6%;
	height: 50%;
	background-color: transparent;
	position: relative;
	left: 2%;
	top:30%;
	display: none;
	cursor: pointer;
}
.toggle .line{
	width: 100%;
	height: 2px;
	background-color: #fff;
	position: absolute;
	border-radius: 12px;
}
.line1{
	top: 0;
}
.line2{
	top: 33.333%;
}
.line3{
	top: 66.666%;
}
	
.logo {
	position: absolute;
	top: 20px;
	left: 30px;
	width: 180px;
	height: auto;
}

#gnb {
	position: absolute;
	top: 20px;
	left: 280px;
	width: 50%;
	height: 100%;

}

#gnb li {
	float: left;
	width: 20%;
}

#gnb li a {
	display: block;
	color: #fff;
	height: 100%;
	text-align: center;
	line-height: 2.5;
}

#gnb li a.dep1 {
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 10px;
	overflow: hidden;
}

#gnb li a.dep1:after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background-color: #fff;
	margin-left: -110%;
	transition: 0.3s;
}

#gnb .submenu {
	margin-top: -2px;

}

#gnb .submenu li {
	clear: both;
	width: 100%;
	height: 0;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
	background-color: rgba(0, 0, 0, 0.6);
	padding-bottom: 10px;
}

#gnb .submenu li a {
	font-size: 16px;
	padding: 5px;
}

#gnb li:hover a.dep1::after {
	margin-left: 0px;
}

#gnb li:hover .submenu li {
	height: 40px;
	opacity: 1;
	visibility: visible;
}

#gnb .submenu li:hover a {
	text-decoration: underline;
}

#gnb .sub_line:after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background-color: #fff;
}

.user {
	position: absolute;
	top: 25px;
	right: 0;
	height: 100%;
	width: 20%;
}

.user li {
	float: left;
	width: 33.333%;
}

.user li a {
	display: block;
	color: #fff;
	font-size: 16px;
	text-align: center;
	transition: 0.3s;
}

.cont {
	line-height: 35px;
}

.lang {
	width: 100%;
	border: 1px solid #fff;
	height: 100%;
	overflow: hidden;
	line-height: 2;
	box-sizing: border-box;
	z-index: 50;
}

.hidden {
	opacity: 0;
	height: 0;
	visibility: hidden;
	transition: 0.3s;
}

.lang:hover .hidden {
	opacity: 1;
	height: 33px;
	visibility: visible;
}

.k_tit:hover {
	background-color: rgba(255, 255, 255, 0.5)
}

.e_tit:hover {
	background-color: rgba(255, 255, 255, 0.5)
}

.look {
	width: 75%;
}

.look img {
	display: block;
	width: 30px;
	height: 30px;
	margin: 0 auto;
}

.search {
	position: fixed;
	top: 80px;
	right: -100%;
	width: 40%;
	height: 20%;
	background-color: rgba(0, 0, 0, 0.6);
	transition: 1s;
}

.search.on {
	right: 0;
	transition: 1s;
}

.sTit {
	color: #fff;
	text-align: center;
	margin-top: 7%;
}

.sBox {
	background-color: transparent;
	border: 1px solid #ccc;
	width: 55%;
	height: 27px;
	margin-left: 18%;
	margin-top: 2%;
	color: #fff;
	box-sizing: border-box;
}

.sSub {
	display: inline-block;
	width: 50px;
	height: 27px;
	background-color: transparent;
	border: 1px solid #ccc;
	color: #ccc;
	box-sizing: border-box;
	margin-left: 10px;
	cursor: pointer;
	outline: 0;
	transition: 0.3s;
}

.sSub:hover {
	background-color: rgba(0, 0, 0, 0.5);
}

#ft:before {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background-color: #ccc;
}

#ft {
	clear: both;
	width: 100%;
	height: 200px;
	position: relative;
}

.fnb {
	position: absolute;
	top: 20%;
	left: 38.5%;
	width: 50%;
}

.fnb li {
	float: left;
	margin-right: 3%;
}

.fnb li a {
	display: block;
	color: #333;
}

.copyright {
	position: absolute;
	top: 45%;
	left: 38%;
	text-align: center;
	font-size: 14px;
	color: #555;
}
#collap{
	position: fixed;
	top: 0;
	left: -110%;
	background-color: rgba(0,0,0,0.8);
	width: 60%;
	height: 100%;
	z-index: 99;
	padding: 20px;
	overflow: auto;
}
.c_close{
	display: block;
	position: absolute;
	top: 2%;
	right: 2%;
	width: 30px;
	height: 30px;
}
.c_close i{
	color: #fff;
	font-size: 1.5em;
}
#cnb{
	position: absolute;
	top: 10%;
}
#collap li a{
	display: block;
	color: #fff;
	font-size: 0.9em;
}
#collap li a.dep1{
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 20px;
	position: relative;
}
#collap li a.dep1:after{
	content: "▼";
	font-size: 0.5em;
	position: absolute;
	left: 80%;
	top: 5px;
}
#collap li:last-child a.dep1:after{
	content: "";
}
#collap .submenu{
	margin-bottom: 20px;
}
#collap .submenu li{
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
	height: 0;
}
#collap li.on .submenu li{
	opacity: 1;
	visibility: visible;
	height: 35px;
}
#collap li.on a.dep1{
	color: #79cde0;
}


@media all and (max-width:767px) {

	.page {
		clear: both;
	}

	.hd {
		width: 100%;
		height: 60px;
		background-color: rgba(0, 0, 0, 0.6);
		position: relative;
		z-index: 50;
	}
	
	
.toggle{
	width: 6%;
	height: 50%;
	background-color: transparent;
	position: relative;
	left: 2%;
	top:30%;
	display: block;
	cursor: pointer;
}
.toggle .line{
	width: 100%;
	height: 2px;
	background-color: #fff;
	position: absolute;
	border-radius: 12px;
}
.line1{
	top: 0;
}
.line2{
	top: 33.333%;
}
.line3{
	top: 66.666%;
}
	
	.logo {
		position: absolute;
		top: 20px;
		left: calc(50% - 65px);
		width: 120px;
		height: auto;
	}

	.logo img {
		display: block;
		width: 100%;
	}

	#gnb {
		display: none;
	}

	.sub_line:after {
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		background-color: #fff;
	}

	.user {
		position: absolute;
		top: 15px;
		right: 0;
		height: 35px;
		width: 25%;
	}

	.user li {
		float: left;
		width: 50%;
	}

	.user li a {
		display: block;
		color: #fff;
		font-size: 0.8em;
		text-align: center;
		transition: 0.3s;
	}

	.cont {
		display: block;
		line-height: 35px;
	}

	.lang {

		display: none;
	}

	.look {
		display: block;
		width: 100%;
	}

	.look img {
		display: block;
		width: 20px;
		height: 20px;
		margin: 5px auto;
		
	}

	.search {
		position: fixed;
		top: 60px;
		right: -110%;
		width: 80%;
		height: 15%;
		background-color: rgba(0, 0, 0, 0.6);
		transition: 1s;
	}

	.search.on {
		right: 0;
		transition: 1s;
	}

	.sTit {
		color: #fff;
		font-size: 0.9em;
		text-align: center;
		margin-top: 5%;
		
	}

	.sBox {
		background-color: transparent;
		border: 1px solid #ccc;
		width: 55%;
		height: 27px;
		margin-left: 18%;
		margin-top: 2%;
		color: #fff;
		box-sizing: border-box;
	}

	.sSub {
		display: inline-block;
		width: 50px;
		height: 27px;
		background-color: transparent;
		border: 1px solid #ccc;
		color: #ccc;
		box-sizing: border-box;
		margin-left: 10px;
		cursor: pointer;
		outline: 0;
		transition: 0.3s;
	}

	.sSub:hover {
		background-color: rgba(0, 0, 0, 0.5);
	}

	#ft:before {
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		background-color: #ccc;
	}

	#ft {
		clear: both;
		width: 100%;
		height: 150px;
		position: relative;
		padding-bottom: 20px;
	}

	.fnb {
		position: absolute;
		top: 25%;
		left: 18%;
		width: 100%;
	}

	.fnb li {
		float: left;
		margin-right: 3%;
	}

	.fnb li a {
		display: block;
		color: #333;
		font-size: 0.8em;
	}

	.copyright {
		position: absolute;
		top: 45%;
		left: 5%;
		text-align: center;
		font-size: 14px;
		color: #555;
	}

}

@media all and (min-width:768px) and (max-width:959px){
	
	
	
.page {
	clear: both;
}

.hd {
	width: 100%;
	height: 80px;
	background-color: rgba(0, 0, 0, 0.6);
	position: relative;
	z-index: 50;
}
.toggle{
	width: 5%;
	height: 50%;
	background-color: transparent;
	position: relative;
	left: 2%;
	top:30%;
	display: block;
	cursor: pointer;
}
.toggle .line{
	width: 100%;
	height: 2px;
	background-color: #fff;
	position: absolute;
	border-radius: 12px;
}
.line1{
	top: 0;
}
.line2{
	top: 33.333%;
}
.line3{
	top: 66.6666%;
}

.logo {
	position: absolute;
	top: 20px;
	left: calc(50% - 90px);
	width: 180px;
	height: auto;
}

#gnb {
	display: none;
}
.user {
	position: absolute;
	top: 25px;
	right: 0;
	height: 100%;
	width: 25%;
}

.user li {
	float: left;
	width: 50%;
}

.user li a {
	display: block;
	color: #fff;
	font-size: 16px;
	text-align: center;
	transition: 0.3s;
}

.cont {
	line-height: 35px;
}

.lang {
	display: none;
}

.hidden {
	opacity: 0;
	height: 0;
	visibility: hidden;
	transition: 0.3s;
}

.lang:hover .hidden {
	opacity: 1;
	height: 33px;
	visibility: visible;
}

.k_tit:hover {
	background-color: rgba(255, 255, 255, 0.5)
}

.e_tit:hover {
	background-color: rgba(255, 255, 255, 0.5)
}

.look {
	width: 75%;
}

.look img {
	display: block;
	width: 30px;
	height: 30px;
	margin: 0 auto;
}

.search {
	position: fixed;
	top: 80px;
	right: -100%;
	width: 40%;
	height: 20%;
	background-color: rgba(0, 0, 0, 0.6);
	transition: 1s;
}

.search.on {
	right: 0;
	transition: 1s;
}

.sTit {
	color: #fff;
	text-align: center;
	margin-top: 7%;
}

.sBox {
	background-color: transparent;
	border: 1px solid #ccc;
	width: 55%;
	height: 27px;
	margin-left: 18%;
	margin-top: 2%;
	color: #fff;
	box-sizing: border-box;
}

.sSub {
	display: inline-block;
	width: 50px;
	height: 27px;
	background-color: transparent;
	border: 1px solid #ccc;
	color: #ccc;
	box-sizing: border-box;
	margin-left: 10px;
	cursor: pointer;
	outline: 0;
	transition: 0.3s;
}

.sSub:hover {
	background-color: rgba(0, 0, 0, 0.5);
}

#ft:before {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background-color: #ccc;
}

	#ft {
		clear: both;
		width: 100%;
		height: 130px;
		position: relative;
		padding-bottom: 20px;
	}

	.fnb {
		position: absolute;
		top: 10%;
		left: 28%;
		width: 60%;
	}

	.fnb li {
		float: left;
		margin-right: 3%;
	}

	.fnb li a {
		display: block;
		color: #333;
		font-size: 0.8em;
	}

	.copyright {
		position: absolute;
		top: 25%;
		left: 20%;
		text-align: center;
		font-size: 14px;
		color: #555;
	}
#collap{
	position: fixed;
	top: 0;
	left: -110%;
	background-color: rgba(0,0,0,0.8);
	width: 40%;
	height: 100%;
	z-index: 99;
	padding: 20px;
	overflow: auto;
}
.c_close{
	display: block;
	position: absolute;
	top: 2%;
	right: 2%;
	width: 30px;
	height: 30px;
}
.c_close i{
	color: #fff;
	font-size: 1.5em;
}
#cnb{
	position: absolute;
	top: 10%;
}
#collap li a{
	display: block;
	color: #fff;
	font-size: 0.9em;
}
#collap li a.dep1{
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 20px;
	position: relative;
}
#collap li a.dep1:after{
	content: "▼";
	font-size: 0.5em;
	position: absolute;
	left: 80%;
	top: 5px;
}
#collap li:last-child a.dep1:after{
	content: "";
}
#collap .submenu{
	margin-bottom: 20px;
}
#collap .submenu li{
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
	height: 0;
}
#collap li.on .submenu li{
	opacity: 1;
	visibility: visible;
	height: 35px;
}
#collap li.on a.dep1{
	color: #79cde0;
}

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
}



















